[mysqld]
max_connections        = 251

# InnoDB 优化
innodb_buffer_pool_size = 4G
innodb_log_file_size = 1G
innodb_log_buffer_size = 32M
innodb_thread_concurrency = 20
innodb_io_capacity = 2000
innodb_io_capacity_max = 4000
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table = 1

# 连接和缓存
tmp_table_size = 64M
max_heap_table_size = 64M
sort_buffer_size = 2M
join_buffer_size = 2M

# 关闭二进制日志
log_bin = 0
skip-log-bin